* {
	margin-bottom: 0;
	font-family: 'Roboto', sans-serif;
}

header {
	position: relative;
}

nav {
	height: 50px;
	background: #212121;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu .menu_link {
	font-weight: 300;
	font-size: 15px;
	color: #FFFFFF;
	text-decoration: none;
}

.menu .menu_item {
	border-right: 2px dotted #000;
	padding-right: 45px;
}

.subheader {
	position: absolute;
	transform: translateY(50px);
	width: 100%;
	height: 87px;
	background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo {
	display: block;
	margin-top: 16px;
	max-width: 100%;
}

.subheader .subheader_oficial {
	font-weight: 100;
	font-size: 13px;
	color: #FFFFFF;
	margin-top: 7px;
}

.subheader .subheader_call {
	margin-top: 18px;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	color: #FFFFFF;
}

.subheader .subheader_phone {
	display: block;
	margin-top: 6px;
	font-weight: 400;
	font-size: 22px;
	line-height: 36px;
	text-align: right;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}

.subheader .subheader_btn {
	margin-top: 18px;
	width: 172px;
	height: 46px;
	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 46px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.promo {
	min-height: 800px;
	background: url(../img/uber_bg.jpg) center center/cover no-repeat;
}

.promo .promo_header {
	margin-top: 200px;
	font-weight: 900;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.promo .promo_subheader {
	margin-top: 10px;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.promo_descr {
	margin-top: 30px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}

.promo .promo_btn {
	display: block;
	margin: 0 auto;
	margin-top: 116px;
	width: 259px;
	height: 63px;
	background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
	box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	border: none;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}


.advantages .advantages_header {
	display: block;
	padding: 10px;
	margin: 20px 590px;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
	background: #000000;
}

.advantages .advantages_subheader {
	margin-top: 33px;
	font-weight: 700;
	font-size: 38px;
	text-align: center;
	text-transform: uppercase;
	color: #222222;
}

.advantages .advantages_item {
	display: flex;
	justify-content: space-evenly;
	margin-top: 25px;
	vertical-align: top;
}

.advantages .orb {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* margin-left: 33px;
	margin-right: 25px; */
	width: 116px;
	height: 116px;
	border-radius: 100%;
	background: #1EACC7;
}

.advantages .advantages_descr {
	min-height: 151px;
	width: 371px;
	margin-right: 55px;
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
	align-items: center;
	color: #202020;
}

.advantages .advantages_descr span {
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
	align-items: center;
	color: #1EACC7;
}